dep-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

svg {
  overflow: scroll;
}
circle {
  stroke: black;
}
.ride {
  fill: lighten(yellow, 25%);
}
.marketing {
  fill: lighten(#0000FF, 35%);
}
.utility {
  fill: lighten(#FF00FF, 35%);
}
.original {
  fill: lighten(#00FF00, 35%);
}
line {
  stroke: #BBB;
}

