<div id="sidebar" class="container">
  <div class="row">
    <div class="col-xs-12">
      <button ng-click="addNew()" class="btn btn-primary">Add new</button>
      <button ng-click="toggleSelectionMode()" ng-if="currentNodeId" ng-click="setDeps()" class="btn btn-default">
        <span ng-if="selectionMode">
          Done
        </span>
        <span ng-if="!selectionMode">
          Set parents
        </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <textarea ng-if="currentNodeId" rows="20" class="form-control json-box" ng-model="nodes[currentNodeId]"></textarea>
    </div>
  </div>
</div>

<dep-layout></dep-layout>

